<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<p>Événements populaires : <span>Bordeaux</span></p>

<div class="section">
  <div class="d-flex flex-wrap justify-content-around mx-auto" style="width: 90%;">
    <% @events.each do |event| %>
      <div class="card m-2" style="width: 18rem;">
        <%= image_tag 'covers/cover1.png', alt: "Couverture évènement", class: "card-img-top" %>
        <div class="card-body">

          <h5 class="card-title">
            <%= link_to event.title, event_path(event.id) %>
          </h5>
          <p class="card-text"><%= event.location %></p>
        </div>
        <div class="price"><%= event.price %> €</div>
      </div>
    <% end %>
  </div>
</div>

