<table>
  <tr>
    <th>Id</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  <% end %>
</table>
